.palettePanel {
  border-radius: 10px
}

.ant-radio-button-wrapper-checked > span > .ant-avatar-image {
  -webkit-filter: invert(100%);
}

.ant-radio-button-wrapper:hover {
  background: rgba(146, 41, 196, 0.44);
}
