{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    ["import", { "libraryName": "antd" }],
    "transform-object-rest-spread",
    "transform-class",
    "transform-class-properties",
    "transform-decorators",
    "transform-react-constant-elements",
    "transform-react-inline-elements"
  ]
}
