// babel-env-disable
{
  "presets": [
    "env",
    "react",
    "flow",
    "stage-0"
  ],
  "plugins": [
    "transform-flow-strip-types",
    ["import", { "libraryName": "antd" }],
    "transform-class-properties",
    "transform-decorators",
    "transform-react-constant-elements",
    "transform-react-inline-elements"
  ]
}
