$body-background: white;
$collapse-header-bg: $body-background;
$collapse-content-bg: lightsteelblue;
$popover-bg: lightsteelblue;

$collapse-content-padding: 0px 2px;
$collapse-header-padding: 0px 6px;

$font-size-base: 10px;

$form-item-margin-bottom: 0px;

$input-height-base: 10px;
$line-height-base: 10px;

$primary-color: #9229c4;

$font-size-base: 14px;

$border-width-base: 0px;

//$radio-dot-color: rgba(146, 41, 196, 0.12);
//$radio-button-hover-color: rgba(146, 41, 196, 0.12);
//$button-default-bg: rgba(146, 41, 196, 0.12);
//$radio-button-hover-color : $button-default-bg;

$border-color-base: white;
$border-radius-base: 0px;