$body-background: white;
$collapse-header-bg: $body-background;
$collapse-content-bg: lightsteelblue;
$popover-bg: lightsteelblue;

$collapse-content-padding: 0px 2px;
$collapse-header-padding: 0px 6px;

$font-size-base: 10px;

$form-item-margin-bottom: 0px;

$input-height-base: 10px;
$line-height-base: 10px;

$primary-color: #1d39c4;
//$label-color: #fafafa;

$font-size-base: 14px;

$border-width-base: 0px;