@import '../../theme.scss';

.historyRow {
  cursor: move;
  border-radius: 4px;
}

.historyRow:hover {
  background-color: $primary-5;
}

.ant-list-vertical .ant-list-item-content {
  margin: 0px;
}
